body,h1,h2 {
	margin: 0;
}
body {
  min-width: 850px;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 45px;
  color: Violet;
  font-family: William, serif;
  font-weight: normal;
  font-size: 31px;
  font-style: italic;
  text-transform: uppercase;
}

h2 {
  margin-top: 0;
  margin-bottom: 35px;
  color: MediumPurple;
  font-family: Inter, sans-serif;
  font-size: 31px;
  text-transform: uppercase;
}

p {
  margin-top: 0;
  margin-bottom: 0;
  font-family: Inter, sans-serif;
  text-align: center;
}

img {
  width: 210px;
  margin-bottom: 50px;
}

div {
  width: 500px;
  height: 500px;
  margin: 0 auto 20px;
  text-align: center;
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
}

h3 {
  margin: 0;
  color: black;
  font-family: Inter, sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
button{
	width: 100px;
	height: 50px;
	border-radius: 30px;
	margin: 0 auto 20px;
	background-image: linear-gradient(to top, #ebc0fd 0%, #d9ded8 100%);
	color: MediumPurple;
	font-family: Inter, sans-serif;
  	font-size: 31px;
  	text-transform: uppercase;
  	font-weight: bold;
}
